#map {
    height: 400px;
    width: 80%;
    margin-left:auto; 
    margin-right:auto;
}

html, body, section {
        height: 100%;
        margin: 0;
        padding: 0;
}

.currentSelection {
    background-color: #e3e2df;
    width:35%;
    margin-left:15px;
}

.currentSelection h1{
    text-align:center;
    
}

#map {
    display:none;
}
#results {
    display:none;
}

.resultNames{
    font-weight: bold;
}

.header-color{
    background-color: #5d5c61;
    color: white;
}

.step-odd{
    background-color: ;
}
.step-even{
    background-color: ;
}

.header-color ul {
    vertical-align: middle;
    padding-top: 15px;
}

.header-color ul li{
    list-style-type: none;
    font-size: 13px;
    
}

.footer{
    background-color: #5d5c61;
    text-align: center;
    color:white;
}

.step-one{
    padding-bottom: 15px;
}