#map {
    height: 100%;
}

html, body, section {
        height: 100%;
        margin: 0;
        padding: 0;
}

.step-three {
        height: 100%;
        margin: 0;
        padding: 0;  
}

.title {
    color: blue;
    font-size: 10px;
}